#ejemplo1{
    display: inline;
    background-color: lightblue;
}  

#cajita1{
    display: inline;
    border: 1px black solid;
    background-color: green;
    opacity: 1;
    padding: 10px;
}
#cajita2{
    display: inline;
    border: 1px black solid;
    background-color: green;
    opacity: 0.6;
    padding: 10px;
}
#cajita3{
    display: inline;
    border: 1px black solid;
    background-color: green;
    opacity: 0.3;
    padding: 10px;
}
#cajita4{
    display: inline;
    border: 1px black solid;
    background-color: green;
    opacity: 0.1;
    padding: 10px;
}

#cajitaRGBA1{
    display: inline;
    border: 1px black solid;
    background-color: orange;
    opacity: 100%;
    padding: 10px;
}
#cajitaRGBA2{
    display: inline;
    border: 1px black solid;
    background-color: orange;
    opacity: 60%;
    padding: 10px;
}
#cajitaRGBA3{
    display: inline;
    border: 1px black solid;
    background-color: orange;
    opacity: 30%;
    padding: 10px;
}
#cajitaRGBA4{
    display: inline;
    border: 1px black solid;
    background-color: orange;
    opacity: 10%;
    padding: 10px;
}
 
#backgrounArena{
    background-image: url(./../assets/css/backgrounds/bg1.jpg);
    background-size: 30%;
}

#repeticionHorizontal{
    background-image: url(./../assets/css/backgrounds/bg-minion-vertical.jpg);
    background-repeat: repeat-x;
    background-size: 20%;
}

#repeticionVerticalmente{
    background-image: url(./../assets/css/backgrounds/bg-kirbyGuapo.jpg);
    background-repeat: repeat-y;
    background-size: 60%;
    background-position: center;
}

#posicionando{
    background-image: url(./../assets/css/backgrounds/Youtube_logo.png);

    background-repeat: no-repeat;
    background-position: right top;
    background-size: 30%
}

#fixedAsta{
    background-image: url(./../assets/css/backgrounds/bgAstaFixed.png);
    background-repeat: no-repeat;
    background-position: right  top;
    
    background-attachment: fixed;
}

#fixedAsta p {
    margin-right: 200px;
}

#scrollMimosa{
    background-image: url(./../assets/css/backgrounds/bgMimosaFixed.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 400px;
    background-attachment: scroll;
}
#scrollMimosa p {
    text-align: right;
    margin-left: 300px;
}