body {
    text-align: center;
    background-color: black;
    color: aliceblue;
}
.titulo{
    color: blue;
    font-size: 4em;
}
.examples{
    font-size: 3em;
    color: red;
}

.notas {
    background-color: blanchedalmond;
    color: black;
}
.negritas{
    font-weight: 900;
    color: red;
}